@font-face {
	font-family: 'AG Book Pro';
	src: url('fonts/AGBookPro-Regular.eot');
	src: url('fonts/AGBookPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/AGBookPro-Regular.woff2') format('woff2'),
		url('fonts/AGBookPro-Regular.woff') format('woff'),
		url('fonts/AGBookPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AG Book Pro';
	src: url('fonts/AGBookPro-Italic.eot');
	src: url('fonts/AGBookPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/AGBookPro-Italic.woff2') format('woff2'),
		url('fonts/AGBookPro-Italic.woff') format('woff'),
		url('fonts/AGBookPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}