// SINGLE PROJECT

.project-title,
.project-content p, 
.project-content .portrait,
.project-list
  margin-left: $margin-mid
  
.project-list
  column-gap: $margin-small

// ******************************************************

// CAMERA CONTROL
  
.cam-buttons
  width: $margin-large
  height: $margin-large

// ******************************************************
