// ******************************************************

// BASIC

$border-width = 6px 
$chevron-size = 30px

#main-content
  padding-top: $header-height - $margin-small
  
#page-close
  svg 
    width: $chevron-size * 1.25
    path
      stroke-width: $border-width * .7

// ******************************************************

// SINGLE PROJECT

.project-title,
.project-content p,
.project-content .portrait,
.project-list
  margin-left: $margin-mid

.project-list
  column-gap: $margin-small
  
.project-pagination
  svg 
    width: $chevron-size
    path
      stroke-width: $border-width * .7
  &:first-of-type
    svg 
      margin-right: $margin-tiny
  &:last-of-type
    svg 
      margin-left: $margin-tiny

// ******************************************************

// CAMERA CONTROL 

cam-ui($chevron-size, $border-width)
  
