
// SINGLE PROJECT

.project-title,
.project-content p, 
.project-content.portait,
.project-list
  margin-left: $margin-mid
  
.project-list
  column-gap: $margin-small

// ******************************************************
