// ******************************************************

// BASIC

$border-width = 5px

#main-content
  padding-top: $header-height - $margin-small

// ******************************************************

// SINGLE PROJECT

.project-title,
.project-content p,
.project-content .portrait,
.project-list
  margin-left: $margin-mid

// ******************************************************

// CAMERA CONTROL

$chevron-size = 20px

cam-ui($chevron-size, $border-width)

// ******************************************************
