// ******************************************************

// BASIC

$border-width = 6px 

#main-content
  padding-top: $header-height - $margin-small

// ******************************************************

// SINGLE PROJECT

.project-title,
.project-content p,
.project-content .portrait,
.project-list
  margin-left: $margin-mid

.project-content p
  width: 500px

.project-list
  column-count: 2
  column-gap: $margin-small

// ******************************************************

// CAMERA CONTROL 

$chevron-size = 25px

.cam-fader-holder
  &:after 
    top: $chevron-size
    left: -($chevron-size)
    width: $chevron-size
    height: $chevron-size
    border-width: $border-width $border-width 0 0
  &:before 
    top: $chevron-size
    right: -($chevron-size)
    width: $chevron-size
    height: $chevron-size
    border-width: 0 0 $border-width $border-width 

.cam-fader
  height: $border-width
  &::-webkit-slider-thumb
    border-width: $border-width
    width: $chevron-size * .8
    height: $chevron-size * 1.5
    margin-top: -7px
  &::-moz-range-thumb
    border-width: $border-width
    width: $chevron-size * .5
    height: $chevron-size * 1.5
    margin-top: -7px
    
.cam-buttons
  width: $chevron-size * 3
  height: $chevron-size * 3
     
.cam-button
  width: $chevron-size
  height: $chevron-size
  
#cam-button-up
  border-width: $border-width 0 0 $border-width
  
#cam-button-right
  border-width: $border-width $border-width 0 0

#cam-button-down
  border-width: 0 $border-width $border-width 0
  
#cam-button-left
  border-width: 0 0 $border-width $border-width 

// ******************************************************

// PAGE INFO 

#contact-info 
  font-size: $font-size-large