// ******************************************************

// BASIC

$border-width = 5px
$chevron-size = 22px

#main-content
  padding-top: $header-height - $margin-small

#page-close
  svg
    width: $chevron-size * 1.25
    path
      stroke-width: $border-width * .7

body.home
  #posts
    padding-bottom: $margin-large

// ******************************************************

// CAM UI

.cam-fader-holder
  &:after
    left: -16px
  &:before
    right: -15px

// ******************************************************

// STELLAR

.stellar-item
  transition: none

// ******************************************************

// SINGLE PROJECT

.project-title,
.project-content p,
.project-content .portrait,
.project-list
  margin-left: $margin-mid

.project-content p
  width: 500px

.project-list
  column-count: 2
  column-gap: $margin-small

.project-pagination
  svg
    width: $chevron-size
    path
      stroke-width: $border-width * .7
  &:first-of-type
    svg
      margin-right: $margin-tiny
  &:last-of-type
    svg
      margin-left: $margin-tiny

// ******************************************************

// PAGE INFO

#contact-info
  font-size: $font-size-large